<style>
    #site-head {
        background: #ccc no-repeat center center;
        background-attachment: fixed;
    }
    .post-holder.odd {
        background: #444;
    }
    .blog-title, .blog-description {
        color: #444;
    }
    a.btn {
        color: #F2EFE8;
        background-color: #444;
    }
    a.btn:hover {
        background-color: #888;
    }
    #site-head {
        color: #888;
    }
    .post-holder:nth-child(2) {
        background-image: url(/images/featured.png);
        background-size: cover;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .site-footer {
        padding: 2em;
        color: #F2EFE8;
        background-color: #222;
    }
    div.fixed-nav, .post-holder:nth-child(2) article {
        padding: 0.75em;
        background-color: rgba(242, 239, 232, 0.6);
        border-radius: 0.5em;
    }
    a.fn-item:hover {
        color: #888;
    }
    a.fn-item.active {
        color: #444;
    }
</style>